<div class="container-fluid mt-5">
  <div *ngIf="!registerMode" class="jumbotron" style="text-align:center;">
    <h3>Find Your Matches</h3>
    <p class="lead">Come on in to view your matches... for all you need to do SignUp</p>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-md m-2">Sign Up</button>
      <button class="btn btn-secondary btn-md m-2">Read More</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <app-register class="col-lg-6"></app-register>
    </div>
  </div>
</div>
