.card {
  z-index:1;
  font-size: 1.2em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border:1px solid;
  box-shadow: 0px 0px 10px 5px rgb(112, 188, 231);
  border-radius: 5px 5px 5px 5px;
}
